<article style="display:flex">
  <div style="margin:10px;">
    <a style="text-decoration:none; color:black; font-weight:bold; font-size:large" href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span>
  </div>
  <div style="margin:10px;">
    by {{user.username}} on {{format_date created_at}}
    |
    <a style="text-decoration:none; color:black" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>